<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Courses</h2>

    <a href="{% url 'add_course' %}">Add Course</a>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Action</th>
            <th>Number Student</th>
        </tr>
        {% for c in courses %}
        <tr>
            <td>{{c.name}}</td>
            <td>{{c.description}}</td>
            <td>{{c.duration}}</td>
            <td>{{ c.students.count }}</td>
            <td><a href="{% url 'enroll_student' c.id %}">Enroll Now</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>