<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Blog Posts</h2>

    <a href="{% url 'post_create' %}">Add Post</a>

    <table border="1px">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        {% for p in posts %}
        <tr>
            <td>{{p.title}}</td>
            <td>{{p.author_name}}</td>
            <td>
                <a href="{% url 'post_detail' p.id %}">View</a> |
                <a href="{% url 'post_update' p.id %}">Edit</a> |
                <a href="{% url 'post_delete' p.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>